### coldchain

In [1]:
import pandas as pd

cpp = pd.read_excel('S:/Hackathons/EY/datasets/coldchain/cold chain points.xlsx')
cce = pd.read_excel('S:/Hackathons/EY/datasets/coldchain/Cold Chain equipment per lakh population.xlsx')

In [2]:
cold_data = pd.read_excel('S:/Hackathons/EY/datasets/coldchain/cold_data.xlsx')

In [ ]:
cold_data.to_csv('S:/Hackathons/EY/datasets/selected/cold_data.csv',index = False)

In [ ]:
cold_data.head()

Table 20: Space assumptions for analysis Equipment Net storage space assumed


WIC 40 m3* 12,000 litres

WIC 32 m3 9,000 litres        

WIC 16.5 m3 4,500 litres

WIF 32 m3 9,000 litres

WIF 20 m3 6,000 litres

WIF 16.5 m3 4,500 litres

ILR (large) 105 litres

DF (large) 220 litres

ILR (small) 45 litres

DF (small) 80 litres

In [4]:
cold_data['Walk in Coolers'] = cold_data['Walk in Coolers']*8000 
cold_data['Walk in Freezers'] = cold_data['Walk in Freezers']*6100 
cold_data['Ice Lined Refrigerator'] = cold_data['Ice Lined Refrigerator']*75
cold_data['Deep Freezers'] = cold_data['Deep Freezers']*150
cold_data['Solar Units'] = cold_data['Solar Units']*150

In [5]:
cold_data['cap_lit'] = cold_data['Walk in Coolers'] +cold_data['Walk in Freezers']+cold_data['Ice Lined Refrigerator'] +cold_data['Solar Units']+cold_data['Deep Freezers']

In [6]:
cold_data.head()

,state,Cold Chain Points,Walk in Coolers,Walk in Freezers,Ice Lined Refrigerator,Deep Freezers,Solar Units,cap_lit
0,Andaman and Nicobar Islands,40,8000,0,3975,8400,900,21275
1,Andhra Pradesh,1650,72000,36600,173025,316350,0,597975
2,Arunachal Pradesh,193,16000,0,21150,37350,7350,81850
3,Assam,792,40000,12200,88950,154950,3900,300000
4,Bihar,678,152000,24400,124125,139650,750,440925

In [7]:
cold_data.columns

Index(['state', 'Cold Chain Points', 'Walk in Coolers', 'Walk in Freezers',
       'Ice Lined Refrigerator', 'Deep Freezers', 'Solar Units', 'cap_lit'],
      dtype='object')

In [8]:
cold_data.drop(columns = ['Walk in Coolers', 'Walk in Freezers', 'Ice Lined Refrigerator', 'Deep Freezers', 'Solar Units'],inplace = True)

cold_data.to_csv('S:/Hackathons/EY/datasets/selected/cold_data.csv',index = False)

# For Visualization

In [3]:
import pandas as pd

cpp = pd.read_excel('S:/Hackathons/EY/datasets/coldchain/cold chain points.xlsx')
cce = pd.read_excel('S:/Hackathons/EY/datasets/coldchain/Cold Chain equipment per lakh population.xlsx')

In [4]:
cce.head()

,state,Total population(lks),Total number of CCE,Total number of CCP,CCE per lakh population,CCE per CCP
0,Andaman and Nicobar Islands,379944.0,75.0,44,19.000000,2.000000
1,Andhra Pradesh,42332781.5,1599.5,1117,3.782506,1.432408
2,Telangana,42332781.5,1599.5,1117,3.782506,1.432408
3,Arunachal Pradesh,1382611.0,393.0,164,28.000000,2.000000
4,Assam,31169272.0,2120.0,801,7.000000,3.000000

In [5]:
cce['Total population(lks)'] = cce['Total population(lks)'] *1.1

In [11]:
cce.to_csv('S:/Hackathons/EY/datasets/coldchain/ccee_vis.csv',index = False)