COVERAGE SURVEY
Full Immunization for the children of age group 12-23 months


SOURCE : https://main.mohfw.gov.in/sites/default/files/5628564789562315.pdf

In [1]:
import pandas as pd
immunization_percent = pd.read_excel('S:/Hackathons/EY/datasets/health survey info/full_immu.xlsx')

In [2]:
immunization_percent.head()

   Sl. No.                        state  DLHS3
0        1  Andaman and Nicobar Islands   83.6
1        2               Andhra Pradesh   66.7
2        3            Arunachal Pradesh   13.3
3        4                        Assam   50.7
4        5                        Bihar   41.4

In [3]:
immunization_percent.drop(columns = ['Sl. No.'],inplace = True)
immunization_percent.columns = ['state','full_imm_percent']
immunization_percent.to_csv('S:/Hackathons/EY/datasets/selected/immunization_percent.csv',index = False)